<div class="url-shortener" *ngIf="(authService.currentUser$ | async)">
    <div class="add-url">
        <input type="text" placeholder="Enter a URL..." [(ngModel)]="createShortenedUrl.url" />
        <button (click)="shortenUrl()">Shorten URL</button>
    </div>

    <ng-container *ngIf="(urlService.urls$ | async) as urls">
        <div class="url-list" *ngIf="urls.length > 0; else noUrls">
            <div class="url-card" *ngFor="let url of urls">
                <div class="favicon">
                    <i class="fa fa-link"></i>
                </div>
                <div class="info">
                    <div class="short-url">
                        <a [href]="url.originalUrl" target="_blank">{{ url.shortenUrl }}</a>
                        <button (click)="copyToClipboard(url.shortenUrl)"><i class="fa fa-copy"></i></button>
                    </div>
                    <div class="original-url">{{ url.originalUrl }}</div>
                    <div class="meta">
                        Created: {{ url.dateCreated | date:'short' }}
                    </div>
                </div>
                <button class="mt-1" (click)="deleteUrl(url.id)" *ngIf="(authService.currentUser$ | async)?.id === url.userId"><i
                        class="fa fa-trash"></i></button>
                <button class="mt-1 ms-2" [routerLink]="['/url-list', url.id]"><i class="fa fa-info"></i></button>
            </div>
        </div>

        <ng-template #noUrls>
            <div class="no-urls-indicator">
                <i class="fa fa-box-open"></i>
                <p>No shortened URLs yet.</p>
                <small>Start by adding one above!</small>
            </div>
        </ng-template>
    </ng-container>
</div>