<div class="url-shortener">
    <div class="add-url" *ngIf="(authService.currentUser$ | async)">
        <input type="text" placeholder="Enter a URL..." [(ngModel)]="createShortenedUrl.url" />
        <button (click)="shortenUrl()">Shorten URL</button>
        <button *ngIf="(authService.userRoles$ | async)?.includes('Admin')" (click)="deleteAll()">Delete All</button>
    </div>

    <ng-container *ngIf="(urlService.urls$ | async) as urls">
        <div class="url-list" *ngIf="urls.length > 0; else noUrls">
            <div class="url-card" *ngFor="let url of urls">
                <div class="favicon">
                    <i class="fa fa-link"></i>
                </div>
                <div class="info">
                    <div class="short-url">
                        <a [href]="url.originalUrl" target="_blank">{{ url.shortenUrl }}</a>
                        <button (click)="copyToClipboard(url.shortenUrl)"><i class="fa fa-copy"></i></button>
                    </div>
                    <div class="original-url">{{ url.originalUrl }}</div>
                    <div class="meta">
                        Created: {{ url.dateCreated | date:'short' }}
                    </div>
                </div>
                <button class="mt-1" (click)="deleteUrl(url.id)"
                    *ngIf="(authService.currentUser$ | async)?.id === url.userId"><i class="fa fa-trash"></i></button>
                <button class="mt-1 ms-2" [routerLink]="['/url-list', url.id]"><i class="fa fa-info"></i></button>
            </div>
        </div>

        <nav *ngIf="(pagination$ | async) as pagination" class="pagination-nav" [hidden]="pagination.totalItems === 0">
            <ul class="pagination justify-content-center">
                <li class="page-item" [class.disabled]="pagination.currentPage === 1">
                    <button class="page-link" (click)="pageChanged(pagination.currentPage - 1)">Previous</button>
                </li>

                <li class="page-item" *ngFor="let page of [].constructor(pagination.totalPages); let i = index"
                    [class.active]="pagination.currentPage === i + 1">
                    <button class="page-link" (click)="pageChanged(i + 1)">
                        {{ i + 1 }}
                    </button>
                </li>

                <li class="page-item" [class.disabled]="pagination.currentPage === pagination.totalPages">
                    <button class="page-link" (click)="pageChanged(pagination.currentPage + 1)">Next</button>
                </li>
            </ul>
        </nav>

        <ng-template #noUrls>
            <div class="no-urls-indicator">
                <i class="fa fa-box-open"></i>
                <p>No shortened URLs yet.</p>
                <small>Start by adding one above!</small>
            </div>
        </ng-template>
    </ng-container>
</div>